<div class="row">
  <div class="col-sm-11">
    <form [formGroup]="teamsFilteringForm">
      <select formControlName="conference">
        <option [value]="null" disabled selected>Select a Conference</option>
        <option [value]="singleConference" *ngFor="let singleConference of allConference">
          {{ singleConference }}
        </option>
      </select>

      <select formControlName="division">
        <option [value]="null" disabled selected>Select a Division</option>
        <option [value]="singleDivision" *ngFor="let singleDivision of division$ | async">
          {{ singleDivision }}
        </option>
      </select>

      <select formControlName="team">
        <option [value]="null" disabled selected>Select a Team</option>
        <option [ngValue]="team" *ngFor="let team of teams$ | async">
          {{ team.full_name }}
        </option>
      </select>

      <button class="primary" type="submit" [disabled]="teamsFilteringForm?.invalid" (click)="trackTeam()">
        Track team
      </button>
    </form>
  </div>
</div>
<div class="row">
  <app-team-stats class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams()" [team]="team"> </app-team-stats>
</div>
